{%extends "box/simple_login.html"%}
{% macro display_add_fields(fields) -%}
{%if caller%}
                        {{caller()}}
  {%endif%}
  <script>
  function show()
  {
    if(document.getElementById("hide").style.display==="block")
       {
            document.getElementById("hide").style.display = "none";
       }
       else
       {
        document.getElementById("hide").style.display = "block";
       }
  }
  </script>
  <div class="row">
<div class="col-md-6">
<div class="box box-solid box-primary ">
    <div class="box-header with-border">
          <h3 class="box-title">ADD</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body" style="display: block;">
          <select name="field_command" class="form-control"  id="field_command">
                            <option value="insert" name="insert">select field name</option>
                            {%for val in fields%}
                            <option value={{val}} name={{val}}>{{val}}</option>
                            {%endfor%}
                        </select>
                        <select name="condition" class="form-control" id="condition" style="display:none;">
                            <option value="false" name="false">FALSE</option>
                            <option value="true" name="true">TRUE</option>
                        </select>
                        <br/>
                        <br/>
                        <form class="form-group">
                            <input type='text' id="test_field" class="form-control" placeholder="Display the added values"/>
                            <button type="button" class="btn btn-primary btn-flat" onclick="add_suggestions()" id="click_to_add">Click to Add</button>
                            <button type="button" class="btn btn-primary btn-flat pull-right" onclick="save_suggestion()">Save</button>
                            <br/>
                            
                        </form>
        </div><!-- /.box-body -->
      </div>
      </div> 
</div>              
<script>
Metrics=($( "#cur_param" ).text());
if(Metrics.indexOf("Popular")>-1)
{
    document.getElementById("condition").style.display="block"
    document.getElementById("click_to_add").style.display="none"
    document.getElementById("test_field").style.display="none"
}

function add_suggestions()
{
    //alert("1")
    Field=document.getElementById("field_command").value;
    Display_Added=document.getElementById("test_field")
    Metrics=($( "#cur_param" ).text());
    //alert(Metric)
    if(Field.indexOf("insert")!=0)
    {
    if(Metrics.indexOf("Field")>-1)
    {
        Display_Added.value=Field;
    }
    else if(Metrics.indexOf("Popular")>-1)
    {

    }
    else
    {
        Display_Added.value=Display_Added.value+"*"+Field;
    }
  }
}
function save_suggestion()
{
    localStorage.setItem("commit", "commit");
    company=document.getElementById("command").value
    Display_Added=document.getElementById("test_field").value
    Metrics=$( "#cur_param" ).text();
    //alert(Metric)
    if(Metrics.indexOf("Field")>-1)
    {
      var infield_data="\t \t \t siteId =>"+"'"+company+"'"+" field =>"+"'"+Display_Added+"'"
      var prev_infield_data=localStorage.getItem("infield")
      infield_data=infield_data+"\t \t \t \n"+prev_infield_data+"\t \t \t \n"
      //alert(infield_data)
      localStorage.setItem("infield",infield_data)
        window.location=window.location.origin+"/add_in_field"+"?company="+company+"&fields="+Display_Added
    }
    else if(Metrics.indexOf("Popular")>-1)
    {
        //local storage for popular
        //var popular_data="popular"+company+":"+Display_Added
        condition=document.getElementById("condition").value
        field=document.getElementById("field_command").value
        var popular_product_data="\t \t \t siteId "+"'"+company+"'"+" field=>"+"'"+field+"'"+""+" condition=>"+condition+"\n"
        var prev_popular_data=localStorage.getItem("popular")
        popular_data=prev_popular_data+"\t \t \t \n"+popular_product_data+"\t \t \t \n"
        //alert(popular_data)
        localStorage.setItem("popular",popular_data);
        //alert(popular_data)
        //localStorage.setItem("popular","")
        if(field.indexOf("insert")!=0)
        //var popular_data="popular"+company+":"+Display_Added+":"+field+":"+condition
        //localStorage.setItem("popular",popular_data);
        window.location=window.location.origin+"/add_popular"+"?company="+company+"&fields="+field+"&condition="+condition
    }
    else
    { 
        var suggestion_data="\t \t \t siteId=>"+"'"+company+"'"+" field=>"+"'"+Display_Added+"'"
        var prev_suggestion_data=localStorage.getItem("suggestion")
        suggestion_data=prev_suggestion_data+"\t \t \t \n"+suggestion_data+"\t \t \t \n"
        localStorage.setItem("suggestion",suggestion_data);
        //alert(suggestion_data)
        //local storage for add suggestion
        //var suggestion_data="suggestion"+company+":"+Display_Added
        //localStorage.setItem("popular",popular_data);
        window.location=window.location.origin+"/add_suggestion_data"+"?company="+company+"&data="+Display_Added
    }
    
}
</script>
{%- endmacro %}
{% block add %}
{% call display_add_fields(fields) %}
{% endcall %}
{%endblock%}
