{% extends "unbxd_suggestion.html" %}
{%block image%}
<img src="{{response.picture}}">
{%endblock%}
{% block profile %}


						<li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{response.name}}<i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="{{response.picture}}" class="img-circle" alt="User Image">
                                    <p>
                                        {{response.email}}
                                        <small>{{response.gender}}</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{response.link}}" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <b class="btn btn-default btn-flat" onclick="logout()">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
{% endblock %}