{% extends "box/simple_login.html" %}
{%block alert%}
{%endblock%}

{%block paramName%}
                                        Task Scheduler
                                    {%endblock%}
{%block image%}
<img src="{{session['gmail'].picture}}" class="img-circle">
{%endblock%}
{%block add_task%}
 <div class="row">
<div class="col-md-6">
	<div class="box box-solid box-primary ">
	    <div class="box-header with-border">
	         <h3 class="box-title">RUNNING TASK</h3>
	         <div class="box-tools pull-right">
	            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
	          </div><!-- /.box-tools -->
	    </div><!-- /.box-header -->
	    <div class="box-body" style="display: block;">
	          
	    </div><!-- /.box-body -->
	</div>
</div> 
{%endblock%}