{% extends "box/simple_login.html" %}
{%set id=id %}
{% import "box/add.html" as add %}
{% block add %}
{{add.display_add_fields(fields)}}
{% endblock %}
{% block paramName %}
<b>Suggestion</b>
{% endblock %}
{% block content %}

<div class="pull-left">
<table class="table-fill" >
<thead>
<tr>
	<th class="text-left" width="40%">
		Field Name
	</th>
	<th class="text-left" width="40%">
		Field Value
	</th>
	<th class="text-left" width="10%">
		Delete
	</th>
</tr>
</thead>
<tbody class="table-hover">
	{%set id=-1%}
	{%for text in response_text%}
		{%set id=id+2%}
		<tr>	
		{% for data in text%}
		<td class="text-left" width="40%"id="id{{id}}">
			<b>'{{data}}'</b>
		</td>
		{%set id=id+1%}
		{%endfor%}
		
		<td class="text-left" width="10%" id="{{id}}" onclick=delFunc({{id}})>
			<img src="/dashboard_files/delete.png" height="40px" width="50px">
		</td>
		</tr>
	{%endfor%}
	</tbody></table>
</div>
<script type="text/javascript">
	function delFunc(id)
	{
		//alert(id)
		company=document.getElementById("command").value
		data=$("#id"+id+"").text()
		var delete_permission = confirm("Are you sure you want to delete");
    	if (delete_permission == true) {
        	window.location=window.location.origin+"/delete_suggestion_data"+"?company="+company+"&data="+data
    	} 
	}
</script>
{% endblock %}