{% extends "box/simple_login.html" %}
{% block alert %}
<div id="help" name="help" style="display:block;">        
          <div class="example-modal">
            <div class="modal" style="display:block">
              <div class="modal-dialog">
                <div class="modal-content">
				<div class="modal-header" style="background-color: #367fa9">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="remove_modal()"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" style="color:white">{{header}}</h4>
                  </div>
                  <div class="modal-body" style="background-color: #367fa9">
                    <p style="color:white">{{message}}</p>
                  </div>
                  <div class="modal-footer" style="background-color: #367fa9">
                    <button type="button" class="btn btn-default" onclick="remove_modal()" data-dismiss="modal">Okay</button>
                    <!--button type="button" class="btn btn-primary">Save changes</button-->
                  </div>
                   </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </div>
        </div>
{%endblock%}
